/.vscode
/a.exe
/case_statement.c
/case_statement.exe
/coins.c
/coins.exe
/coin_count.c
/coin_count.exe
/D0_while.c
/dollar_ruppes.c
/dollar_ruppes.exe
/electricitybill.c
/electricitybill.exe
/factorial.c
/factorial.exe
/factorial_recursion.c
/factorial_recursion.exe
/fibbonaci.c
/fibbonaci.exe
/findlargest.c
/findlargest.exe
/friend_function.cpp
/friend_function.exe
/function1.c
/function1.exe
/hello.c
/hello.exe
/increasing_decreasin.c
/increasing_decreasin.exe
/perfect_number.c
/perfect_number.exe
/pointers.c
/pointers.exe
/power_calculate.c
/power_calculate.exe
/recursion_print_1_to_n.c
/recursion_print_1_to_n.exe
/result2.c
/result2.exe
/stair_path.c
/stair_path.exe
/structure.c
/structure.exe
/sum_of_numner_upto_n.c
/sum_of_numner_upto_n.exe
/sum_using_recursion.c
/sum_using_recursion.exe
/switch_case2.c
/switch_case2.exe
/voting.c
/voting.exe